@font-face {
    font-family: 'barlow';
    src: url('../fonts/Barlow-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow';
    src: url('../fonts/Barlow-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'barlow';
    src: url('../fonts/Barlow-SemiBold-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}



