.radio-inputs {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 30px;
}


.radio-input__label{
    position: relative;
    padding: 0 17px 0 25px;
    margin-right: 40px;
    cursor: pointer;
    /* width: 24%; */
    display: flex;
    flex-wrap: nowrap;
}

.radio-input__span::before{
    content:"";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #eee;
    position: absolute;
    left: 0;
    top: -1px;
}
.radio-input__info-simbol {
    margin-left: 7px;
    line-height: 19px;
    color: #AFAFAF;
    font-size: 14px;
}
.radio-input__input{
    /* visibility: hidden; */
    height: 1px;
    width: 1px;
    margin-top: -1px;
}
.radio-input__input:checked ~ .radio-input__span::before {
    border: 3px solid #3698FB
}
.radio-input__input__span{
    transition: all .3s;
}
.radio-input__input:focus + .radio-input__span::before        {
    box-shadow: 0 0 0 2px #3698fb7c
}
.radio-input__info{
    width: 270px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1050px){
    .radio-inputs {
        flex-wrap: wrap;
    }
    .radio-input__label{
        width: 45%;
        margin-right: 3%;
        margin-bottom: 20px;
    }
    .radio-input__info{
        width: 100%;
    }
}