.social {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.social__item{
    display: block;
    width: 45%;
}

.social__link,
.social__link:link,
.social__link:visited,
.social__link:active{
    font-size: 	0.875rem;
    position: relative;
    padding: 15px;
    width: 100%;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.social__link:hover,
.social__link:focus{
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)  
}
.social__logo{
    width: 30px;
    padding-right: 10px;
}
.social__link--facebook{
    background: #255A9B 
}
.social__link--linkedin{
    background: #0076B6 
}

@media (max-width: 425px) { 
    .social{
        flex-wrap: wrap;
        margin-bottom: 0px;
    }  
    .social__item{
        width: 100%;
    } 
    .social__link,
    .social__link:link,
    .social__link:visited,
    .social__link:active{
        width: 100%;
        margin: 10px 0;
    }

    
}