@import url(./css/css-reset.css);
@import url(./css/fonts.css);
@import url(./css/social.css);
@import url(./css/text-inputs.css);
@import url(./css/radio-inputs.css);
@import url(./css/button.css);

html,
button,
input,
select,
textarea {
    color: #2A4A5C;
}
body{
    font-family: barlow;
}

.content{
    background: #EFF6FF;
    width: 100%;
    padding: 70px 0;
}
.registration-section{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    background: #fff;
    max-height: 1000px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.registration-section__pic {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    width: 760px;
    position: relative;
}
.registration-section__logo{
    width: 10rem;
    position: absolute;
    left: 4rem;
    top: 3rem;
}

.registration-form{
    width: 680px;
    padding: 120px 70px;
}
.registration-form__title{
    /* font-weight: 500; */
    font-size: 1.75rem;
    margin-bottom: 15px;
}
.registration-form__description{
    color: #96A5B1;
    font-size: 1rem;
}


.registration-form__socials{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.registration-form__separator{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.625rem;
    margin: 50px 0;
}
.registration-form__separator::before,
.registration-form__separator::after {
    content: "";
    width: 110px;
    border-bottom: 1px solid #EEEEEE;
    margin: 0 .5rem;
}


.registration-form__inputs{
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    width: 100%;
}

.registration-form__title--sub{
    font-size: 1.5rem;
    margin-top: 50px;
}

.registration-form__checkbox-input-group{
    margin: 50px 0;
}

.registration-form__checkbox-input__span{
    margin-left: 10px;
    font-size: 1rem;
    color: #afafaf;
    transition: all .3s;
}
.registration-form__checkbox-input:focus + .registration-form__checkbox-input__span{
    color: #222;
}

.link{
    color:#3698FB;
    text-decoration: underline;
}


@media (max-width: 1200px) { 
    .registration-section{
        width: 90%;
    }
    .registration-section__pic{
        width: 35%;
    }
    .registration-form{
        width: 65%;
        padding: 100px 50px;
    }
}

@media (max-width: 900px) { 
    .registration-section{
        width: 95%;
    }
    .registration-section__pic{
        width: 20%;
    }
    .registration-section__logo{
        width: 70%;
        left:50%;
        transform: translateX(-50%) ;
    }    
    .registration-form{
        width: 80%;
        padding: 100px 50px;
    }
}
@media (max-width: 600px) { 
    .registration-section{
        max-height: 100%;
        flex-wrap: wrap;
    }
    .registration-section__pic{
        width: 100%;
        height: 150px;
    }
    .registration-section__logo{
        width: 50%;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%) ;
    }    
    .registration-form{
        width: 100%;
        padding: 50px 30px;
    }
    .registration-form__inputs{
        flex-wrap: wrap;
    }


}
@media (max-width: 425px) { 

    .registration-form__separator{
        margin: 30px 0 40px;
    }

    
}