@font-face {
    font-family: 'barlow';
    src: url('Barlow-Regular-webfont.eot');
    src: url('Barlow-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Barlow-Regular-webfont.woff2') format('woff2'),
         url('Barlow-Regular-webfont.woff') format('woff'),
         url('Barlow-Regular-webfont.ttf') format('truetype'),
         url('Barlow-Regular-webfont.svg#barlowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow';
    src: url('Barlow-Light-webfont.eot');
    src: url('Barlow-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Barlow-Light-webfont.woff2') format('woff2'),
         url('Barlow-Light-webfont.woff') format('woff'),
         url('Barlow-Light-webfont.ttf') format('truetype'),
         url('Barlow-Light-webfont.svg#barlowlight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'barlow';
    src: url('Barlow-SemiBold-webfont.eot');
    src: url('Barlow-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Barlow-SemiBold-webfont.woff2') format('woff2'),
         url('Barlow-SemiBold-webfont.woff') format('woff'),
         url('Barlow-SemiBold-webfont.ttf') format('truetype'),
         url('Barlow-SemiBold-webfont.svg#barlowsemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}



